<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - UAP Immo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="top-bar">
        <div class="container">
          <h1 class="logo">UAP Immo</h1>
        </div>
      </header>
      <main>
          <section class="form-container">
              <h2>Connexion</h2>
              <form action="/connexion" method="post" class="auth-form">
                  <label for="username">Nom d'utilisateur:</label>
                  <input type="text" id="username" name="username" required>
                  <label for="password">Mot de passe:</label>
                  <input type="password" id="password" name="password" required>
                  <button type="submit" class="button">Se connecter</button>
              </form>
              <p>Pas encore de compte? <a href="/inscription" class="link">Inscrivez-vous ici</a>.</p>
          </section>
      </main>
      <footer>
          <p>&copy; 2024 UAP Immo. Tous droits réservés.</p>
      </footer>
</body>
</html>
