<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Tableau de bord</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">UAP Immo</div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <% if (user) { %>
                    <!-- Si l'utilisateur est connecté -->
                    <li><a href="/deconnexion">Déconnexion</a></li>
                <% } else { %>
                    <!-- Si l'utilisateur n'est pas connecté -->
                    <li><a href="/connexion">Connexion</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <section class="dashboard">
        <div class="cards">
            <div class="card welcome-card">
                <h2>Bienvenue sur votre Tableau de bord, <%= user.username %>!</h2>
            </div>
            <div class="card">
                <h3>Titre de la première carte</h3>
                <p>Description de la première carte.</p>
                <ul>
                    <li>Élément 1</li>
                    <li>Élément 2</li>
                    <li>Élément 3</li>
                </ul>
                <a href="#">Voir plus</a>
            </div>
            <div class="card">
                <h3>Titre de la deuxième carte</h3>
                <p>Description de la deuxième carte.</p>
                <ul>
                    <li>Élément A</li>
                    <li>Élément B</li>
                    <li>Élément C</li>
                </ul>
                <a href="#">Voir plus</a>
            </div>
            <!-- Ajoutez plus de cartes selon vos besoins -->
        </div>
    </section>

    <footer>
        <p>&copy; 2024 UAP Immo. Tous droits réservés.</p>
    </footer>
</body>
</html>
