<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UAP Immo | Register</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>  
  <section class="fullscreen-section">
    <div class="container">
      <div class="top-bar bg-transparent">
        <div class="row align-items-center">
          <div class="col-md-8">
            <a href="#">UAP Immo</a>
          </div>
          <div class="col-md-4 text-right">
            <a href="#">Infos</a>
            <span class="separator"></span>
            <a href="#">Contact</a>
            <a href="#" class="btn btn-primary">Profil</a>
          </div>
        </div>
      </div> 
    </div>  
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand" href="#">UAP Immo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Lien 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lien 2</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Lien 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lien 4</a>
            </li>
          </ul>
        </div>
      </nav>    
      <section class="form-register">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
              <h2 class="text-center">Inscription</h2>
              <form action="/inscription" method="post">
                <div class="form-group text-center">
                  <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Adresse e-mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Mot de passe:</label>
                <div class="password-field">
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="togglePassword">
                        <i class="far fa-eye" aria-hidden="true"></i>
                    </button>
                </div>
                <label for="passwordConfirmation">Confirmer le mot de passe:</label>
                <input type="password" id="passwordConfirmation" name="passwordConfirmation" required>
                <button type="submit">S'inscrire</button>
            </form>
            <p>Déjà un compte? <a href="/connexion" id="link-form">Connectez-vous ici</a>.</p>   </div>
          </div>
        </div>
      </section>      
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script>
        document.getElementById("togglePassword").addEventListener("click", function() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                this.innerHTML = '<i class="far fa-eye-slash" aria-hidden="true"></i>'; // Utilisation de l'icône "eye-slash" pour masquer le mot de passe
            } else {
                passwordField.type = "password";
                this.innerHTML = '<i class="far fa-eye" aria-hidden="true"></i>'; // Utilisation de l'icône "eye" pour afficher le mot de passe
            }
        });
    </script>
</body>
</html>
