/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

main {
    padding: 2rem;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input,
button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.link {
    color: #007bff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Styles spécifiques à la page d'accueil */
.hero {
    text-align: center;
}

.hero-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.2rem;
}

/* Styles spécifiques à la page de connexion et d'inscription */
.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"] {
    width: 100%;
}

.auth-form button {
    align-self: center;
    width: 50%;
}

/* Media queries pour les appareils mobiles */
@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .auth-form button {
        width: 70%;
    }
}

/* Styles spécifiques à la page de tableau de bord */
.dashboard {
    display: flex;
}

.menu {
    width: 25%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}

.dashboard-h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.profile-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

/* Media queries pour les appareils mobiles */
@media screen and (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
}

