.top-bar {
  padding: 30px 40px; /* Augmenter la hauteur de la top bar */
}

.top-bar a {
  color: #000000;
  font-size: 18px; /* couleur du texte */
}

.top-bar .btn {
  margin-left: 10px;
  border-radius: 40px;
  padding: 10px 35px; 
  color: white;
  background-color: #272e8f;/* espace entre le lien et le bouton */
}

.top-bar .btn:hover {
  margin-left: 10px;
  border-radius: 50px;
  padding: 10px 25px; 
  color: white;
  background-color: #535ce3;/* espace entre le lien et le bouton */
}
.top-bar .separator {
  margin: 0 5px; /* espace autour de la barre verticale */
  border-right: 1px solid #000000; /* barre verticale */
}

/* Navigation Bar */
.navbar {
  border-radius: 50px 50px;
  height: 80px;
}

.custom-navbar {
  background-color: #ffffff; /* Couleur de fond personnalisée */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px; 
  color: #000000! important;
  margin-left: 20px! important;
}

.navbar-nav .nav-link {
  color: #000000! important;
  margin-right: 20px;
  font-size: 18px; /* Couleur des liens */
}

.fullscreen-section {
  height: calc(100vh - 105px); /* Plein écran moins la hauteur de la top bar et la hauteur de la barre de navigation */
  background-color: rgb(211, 235, 255);
}

/* Presentation Section */
.presentation-section {
  padding: 50px; /* Espacement autour de la section */
  height: calc(100% - 130px); /* Hauteur de la section plein écran moins la hauteur de la top bar et la hauteur de la barre de navigation */
}

.presentation-section .container {
  height: 100%;


}

/* Presentation Section */
.presentation-section .row {
  height: 100%;
  display: flex;
  justify-content: flex-start; /* Aligner à gauche */
  align-items: center; /* Centrer verticalement */
}

.presentation-section .col-md-6 {
margin-left: 30px; 
padding: 35px 30px;
max-width: 240%;
border: 1px solid #1b1b1b;
border-radius: 45px;/* Petite marge gauche */
}

.presentation-section h2 {
  margin-bottom: 20px; /* Espacement en bas du titre */
}

.presentation-section p {
  margin-bottom: 20px; 
  text-align: justify;
}

.presentation-section .text-center {
  margin-bottom: 0px; 
  text-align: justify;
}

.presentation-section .btn {
  border-radius: 40px; 
background-color: #3664c7;
}

/* Styles spécifiques à la page de connexion */

.form-login .row {
  height: 100%;
  display: flex;
  justify-content: center; /* Aligner au centre horizontalement */
  align-items: center; /* Aligner au centre verticalement */
}

.form-login {
  padding: 50px 0;
  min-height: calc(100vh - 105px); /* Ajuster en fonction de la hauteur de la barre de navigation */
}

.form-login .col-md-6 {
  max-width: 400px; /* Ajustez la largeur selon vos besoins */
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: aliceblue;
}

.form-login h2 {
  margin-bottom: 20px;
}

.form-login form {
  max-width: 300px; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centrer le formulaire horizontalement */
}

.form-login .form-group {
  text-align: center; /* Centrer le contenu des champs de formulaire */
}

.form-login p {
  margin-top: 20px;
}

/* Format mobile */
@media (max-width: 767px) {
  .form-login .col-md-6 {
      max-width: 100%; /* Pour une largeur maximale sur les appareils mobiles */
  }
}


.form-register .row {
  height: 100%;
  display: flex;
  justify-content: center; /* Aligner au centre horizontalement */
  align-items: center; /* Aligner au centre verticalement */
}

.form-register {
  padding: 50px 0;
  min-height: calc(100vh - 105px); /* Ajuster en fonction de la hauteur de la barre de navigation */
}

.form-register .col-md-6 {
  max-width: 400px; /* Ajustez la largeur selon vos besoins */
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: aliceblue;
}

.form-register h2 {
  margin-bottom: 20px;
}

.form-register form {
  max-width: 300px; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centrer le formulaire horizontalement */
}

.form-register .form-group {
  text-align: center; /* Centrer le contenu des champs de formulaire */
}

.form-register p {
  margin-top: 20px;
}


/* Format mobile */
@media (max-width: 767px) {
.navbar {
  max-width: 760px;
border-radius: 5px;
}
.form-login .col-md-6 {
  max-width: 100%; /* Pour une largeur maximale sur les appareils mobiles */
}
.form-register .col-md-6 {
  max-width: 100%; /* Pour une largeur maximale sur les appareils mobiles */
}

}
